version: "3"
services:
  web:
    container_name: backend
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/code
    environment:
      FLASK_ENV: development
    networks:
      - backend
  redis:
    container_name: cache-db
    image: "redis:alpine"
    networks:
      - backend

  database:
    container_name: postgres_db
    image: postgres:13-alpine
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - backend
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_DB}
    ports:
      - "3000:5432"

networks:
  backend:

volumes:
  pg_data:
